<app-nav-admin></app-nav-admin>
<div class="container">
    <div class="row g-3 mt-4">
        <table class="table   text-center text-light">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Employee Code</th>
                    <th>Employee Name</th>
                    <th>Designation</th>
                    <th>Salary</th>
                    <th>Email</th>
                    <th>Mobile No</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of employee">
                    <td>{{i.id}}</td>
                    <td>{{i.empcode}}</td>
                    <td>{{i.empname}}</td>
                    <td>{{i.designation}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.contact}}</td>
                    <td>{{i.username}}</td>
                    <td>{{i.password}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
