<app-navsecurity></app-navsecurity>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-light">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">  
                    <h2 class="text text-light mt-5" style="text-align:center">Visitors Log </h2>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-light">
                    <label for="" class="form-label text"> Name</label>
                    <input name="name" [(ngModel)]="name" type="text" class="form-control">
                </div>  
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ">
                    <label for="" class="form-label">Date</label>
                    <input type="date" name="date" [(ngModel)]="date" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Entry_datetime</label>
                    <input type="time" name="entry_datetime" [(ngModel)]="entry_datetime" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Exit_datetime</label>
                    <input type="time" name="exit_datetime" [(ngModel)]="exit_datetime" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Purpose</label>
                    <input type="text" name="purpose" [(ngModel)]="purpose" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Whome to meet</label>
                    <input type="text" name="whomtomeet" [(ngModel)]="whomtomeet" id="" class="form-control">
                </div>
                  
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center pt-4">
                    <button (click)="readValue()" class="btn btn-info">Add</button>
                </div>
                
            </div>
        </div>
    </div>
</div>