<nav class="navbar navbar-expand-lg " style="background-color: rgb(48, 8, 128);">
    <div class="container-fluid">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="https://media.glassdoor.com/sqll/5988578/nest-digital-squarelogo-1647421869741.png" alt="" width="30" height="24">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" routerLink="/secprofile">View profile</a>
              </li>
          <div class="dropdown">
            <button class="btn  dropdown-toggle text-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
             Add
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/emplog">Employee Log</a></li>
              <li><a class="dropdown-item" routerLink="/visitorsLog">Visitors Log</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn  dropdown-toggle text-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              View logs
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/viewlog">Employee </a></li>
              <li><a class="dropdown-item" routerLink="/viewVisitors">Visitors </a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn  dropdown-toggle text-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              View Daily log
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/dailyEmp">Employee </a></li>
              <li><a class="dropdown-item" routerLink="/dailyVisitors">Visitors </a></li>
            </ul>
          </div>
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" routerLink="/seclogin">Logout</a>
            
          </li>
          
          
        </ul>
      </div>
    </div>
  </nav>
